.containerForecastWeek {
  position: absolute;
  top: 20px;
  right: 0;
  width: 18%;
  padding: 20px;
  border-radius: 10px;
  height: 100vh;
  background-color: #9abaf2;
}
.wrapperForecastToday {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;
}
.containerForecastWeekBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerForecastWeekBlock img {
  width: 60px;
}

.containerForecastWeekBlock p {
  font-weight: 600;
  font-size: 16px;
}
.containerImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
