.containerFavoriteCities {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.wrapperCity:hover {
  background-color: #83a3db;
  transition: 0.2s ease-out;
}

.wrapperCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9abaf2;
  border-radius: 10px;
  padding: 30px;
}
.informationCity {
  display: flex;
  align-items: center;
  gap: 30px;
}
.informationCity img {
  width: 80px;
}
.informationCity h3 {
  color: #ffffff;
}
.favoriteButton img {
  width: 40px;
  cursor: pointer;
}
