.containerSearchBar {
  width: 40%;
  border-radius: 10px;
  font-size: 20px;
}
.wrapperSearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #9abaf2d7;
}
.wrapperSearchBar img {
  cursor: pointer;
}

.containerSearchBar ul {
  background-color: #d6e2f5d7;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  margin-top: 10px;
}
.containerSearchBar p {
  font-size: 15px;
  color: red;
}
.inputSearch {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.inputSearch::placeholder {
  font-size: 20px;
  font-family: 'Poppins', serif;
  color: #ffff;
}

.wrapperSearchBar input[type] {
  color: #ffff;
}
.suggestionsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.suggestionsList li img {
  width: 30px;
  cursor: pointer;
}
