.containerForecastToday {
  background-color: #9abaf2;
  border-radius: 10px;
  padding: 30px;
}
.containerForecastBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}
.wrapperForecastToday {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
}
.containerForecastBlock img {
  width: 50px;
}
