.containerSettigs {
  width: 100%;
  background-color: #9abaf2;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
.settingOption {
  font-size: 20px;
  background-color: #e0e9f9;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.settingOption:hover {
  background-color: #83a3db;
  transition: 0.2s ease-out;
}
.settingOption.active {
  background-color: #83a3db;
}
.wrapperSettingsDegree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.settingOption button {
  width: 100%;
}
